body {
    background-color: #18181b;
    margin: 0;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
}